flow.json
[
    {
        "id": "b774e57a4fb492e4",
        "type": "tab",
        "label": "pulling data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c8e0e2f5aadf6a32",
        "type": "tab",
        "label": "to database",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c6ce54b4a820f0a6",
        "type": "modbus-client",
        "name": "Acti9",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "10.46.1.10",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "255",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": false
    },
    {
        "id": "595a56723661ca0a",
        "type": "mqtt-broker",
        "name": "mqtt broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "74450c7dc8a8e304",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "balena",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "94b3baf363f6e23d",
        "type": "modbus-read",
        "z": "b774e57a4fb492e4",
        "name": "iC60N",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "14200",
        "quantity": "1",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "1",
        "server": "c6ce54b4a820f0a6",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "972a05a931412d5c"
            ],
            [
                "c4c0404c68030b17"
            ]
        ]
    },
    {
        "id": "c4c0404c68030b17",
        "type": "modbus-response",
        "z": "b774e57a4fb492e4",
        "name": "",
        "registerShowMax": 20,
        "x": 450,
        "y": 220,
        "wires": []
    },
    {
        "id": "972a05a931412d5c",
        "type": "function",
        "z": "b774e57a4fb492e4",
        "name": "protocol translation",
        "func": "if (msg.payload[0] === 3) {\n    msg.payload = \"closed\";\n} else {\n    msg.payload = \"open\";\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 140,
        "wires": [
            [
                "5ba1b04796156b11",
                "1b86991445bffef2"
            ]
        ]
    },
    {
        "id": "1b86991445bffef2",
        "type": "rbe",
        "z": "b774e57a4fb492e4",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 690,
        "y": 140,
        "wires": [
            [
                "b4a9288243d6ecca"
            ]
        ]
    },
    {
        "id": "b4a9288243d6ecca",
        "type": "mqtt out",
        "z": "b774e57a4fb492e4",
        "name": "mqtt broker",
        "topic": "ic60n/status",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "595a56723661ca0a",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "5ba1b04796156b11",
        "type": "debug",
        "z": "b774e57a4fb492e4",
        "name": "mqtt",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 790,
        "y": 60,
        "wires": []
    },
    {
        "id": "9c9a7cfd6136bc6d",
        "type": "mqtt in",
        "z": "b774e57a4fb492e4",
        "name": "",
        "topic": "ic60n/status",
        "qos": "0",
        "datatype": "utf8",
        "broker": "595a56723661ca0a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 60,
        "wires": [
            [
                "5ba1b04796156b11"
            ]
        ]
    },
    {
        "id": "ff18046dd96a1b65",
        "type": "mqtt in",
        "z": "c8e0e2f5aadf6a32",
        "name": "",
        "topic": "ic60n/status",
        "qos": "0",
        "datatype": "utf8",
        "broker": "595a56723661ca0a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "cda6c045bf726379"
            ]
        ]
    },
    {
        "id": "46f832cbc7f05a5a",
        "type": "influxdb out",
        "z": "c8e0e2f5aadf6a32",
        "influxdb": "74450c7dc8a8e304",
        "name": "influxdb",
        "measurement": "status",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "cda6c045bf726379",
        "type": "function",
        "z": "c8e0e2f5aadf6a32",
        "name": "",
        "func": "if (msg.payload === \"closed\") {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "46f832cbc7f05a5a",
                "81cbd2e0d379eec0"
            ]
        ]
    },
    {
        "id": "81cbd2e0d379eec0",
        "type": "debug",
        "z": "c8e0e2f5aadf6a32",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 650,
        "y": 60,
        "wires": []
    }
]